* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

nav {
    position: fixed;
    background-color: #111;
    display: flex;
    align-items: flex-start;
    height: 12vh;
    width: 100%;
    padding: 2vw 4vw;
    justify-content: space-between;
    padding: 2vw 7vw;
    z-index: 1000;
}

nav h1 {
    font-size: 1.6VW;
}

.nav2 {
    display: flex;
    gap: 2vw;
    position: absolute;
    left: 50%;
    align-items: flex-start;
    padding: 1vh 0;
    /* position: relative; */
    z-index: 10;
}

.nav2 h4 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 2.1vw;
    cursor: pointer;
}

.nav2 h4:hover {
    background-color: transparent;
    color: #0DA34E;
}

.nav2 h5 {
    margin-bottom: 1vw;
    display: none;
    overflow: hidden;
}

.nav2 h5 span {
    font-size: 0.74vw;
    font-weight: 400;
    display: inline-block;
}

#nav-bottom {
    width: 86%;
    height: 0vh;
    position: absolute;
    background-color: #111;
    top: 100%;
    z-index: 9;
    border-bottom: 0.1px solid #6c5d5d;
}

nav button {
    background-color: #0DA34E;
    display: flex;
    align-items: center;
    gap: 1.5vw;
    padding: 5px 15px;
    border-radius: 50px;
    font-size: 0.90vw;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.4s ease;
}

.btn-text {
    color: white;
    transition: color 0.3s ease;
    white-space: nowrap;
}

.btn-icon {
    background-color: #0DA34E;
    border-radius: 50px;
    width: 2.2vw;
    height: 2.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    flex-shrink: 0;
}

.btn-icon svg {
    height: 0.9vw;
    width: 0.9vw;
}

nav button:hover {
    background-color: transparent;
    padding-left: 10px;
    gap: 1vw;
}

nav button:hover .btn-text {
    color: #0DA34E;
}

nav button:hover .btn-icon {
    background-color: #0DA34E;
}


#page1 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 60px 0;
    /* padding: 0 60px;  
    padding-top: 100px;        */
}

#page1 h1 {
    font-size: 6vw;
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: -0.02em;
    text-align: center;
    text-transform: none;
}

#page1 p {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    max-width: 1000px;
    line-height: 1.6;
    margin-top: 40px;
}

#page2 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 60px;
}

#video-container {
    width: 95%;
    height: 87vh;
    background-color: #111;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    cursor: none;
}

#video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

#showreel-badge {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: #0DA34E;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    z-index: 10;
    opacity: 0;
    scale: 0;
    gap: 6px;
}

#badge-arrow {
    font-size: 1.4rem;
    color: white;
    line-height: 1;
    align-self: flex-start;
    padding-left: 30px;
}

#showreel-badge p {
    font-size: 0.75rem;
    font-weight: 700;
    color: white;
    text-align: center;
    line-height: 1.4;
    letter-spacing: 0.05em;
}

#page3 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px 60px 60px;
    background-color: #111;
}

.row1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.row2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.stat-card {
    background-color: #1a1a1a;
    border-radius: 16px;
    padding: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row1 .stat-card {
    min-height: 52vh;
}

.row2 .stat-card {
    min-height: 43vh;
}

.card-num {
    font-size: 0.8rem;
    color: #666;
    font-weight: 500;
    z-index: 1;
}

.card-content {
    position: relative;
    z-index: 1;
    /* text upar */
}

.card-content h2 {
    font-size: 3.5rem;
    font-weight: 800;
    color: #fff;
    line-height: 1;
    margin-bottom: 10px;
}

.card-content p {
    font-size: 1.1rem;
    color: #888;
    line-height: 1.5;
    font-weight: 400;
}

#card4 .card-content h2,
#card5 .card-content h2 {
    font-size: 2.5rem;
}

.stat-card video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(.16, 1, .32, 1);
    z-index: 0;
}

.stat-card:hover video {
    opacity: 1;
}

/* PAGE - 4 */

/* ===== PAGE 4 - OUR CLIENTS ===== */
#page4 {
    background-color: #111;
    padding: 80px 60px 100px;
}

#clients-header {
    margin-bottom: 60px;
}

#clients-header h2 {
    font-size: 4vw;
    font-weight: 800;
    color: #fff;
    line-height: 1.1;
    margin-bottom: 30px;
}

#clients-header p {
    font-size: 1.3rem;
    color: #fff;
    line-height: 1.3;
    font-weight: 500;
}

#clients-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.client-card {
    padding: 9px 30px;
}

.client-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
    color: #fff;
    min-height: 60px;
}

.client-logo svg {
    width: 150px;
    height: auto;
    object-fit: contain;
}

.client-logo img {
    width: 150px;
    height: auto;
    object-fit: contain;
}

.client-card p {
    font-size: 0.9rem;
    color: #777;
    font-weight: 600;
}

.blue-btn {
    display: inline-flex;
    align-items: center;
    gap: 14px;
    padding: 15px 50px 15px 50px;
    background-color: #4f5bff;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    overflow: hidden;
    margin-top: 100px;
    transition: background-color 0.4s ease, transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
    ;
}

.blue-btn:hover {
    transform: scale(1.06);
}

.blue-btn .btn-label {
    position: relative;
    height: 1.1em;
    overflow: hidden;
}

.blue-btn .btn-label span {
    display: block;
    font-size: 0.88rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #fff;
    white-space: nowrap;
    transition: transform 0.45s cubic-bezier(0.76, 0, 0.24, 1);
}

.blue-btn .btn-label span:last-child {
    position: absolute;
    left: 0;
    top: 100%;
}

.blue-btn .btn-icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #4f5bff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: background-color 0.4s ease, transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.blue-btn .btn-icon svg {
    width: 14px;
    height: 14px;
}


.blue-btn:hover .btn-label span {
    transform: translateY(-100%);
}

.blue-btn:hover .btn-icon {
    background-color: #4f5bff;
    transform: rotate(45deg);
}

/* ===== PAGE 5 ===== */
#page5 {
    min-height: 100vh;
    background-color: #fff;
    width: 100%;
    padding: 100px 60px;
}

#page-top {
    display: flex;
    gap: 60px;
    align-items: flex-start;
}


#page5-left {
    flex: 1;
    /* position: sticky; */
    top: 120px;
}

#page5-left h2 {
    font-size: 3.5vw;
    font-weight: 800;
    color: #111;
    line-height: 1.1;
}

#page5-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-top: 10px;
}

.page5-label {
    font-size: 0.9rem;
    font-weight: 600;
    color: #999;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.page5-block p {
    margin-top: 30px;
    font-size: 1.5rem;
    color: #111;
    font-weight: 500;
}

#page5-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    margin-top: 60px;
}

.p5-card {
    background-color: #f2f2f2;
    padding: 40px 36px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 220px;
}

.p5-card h3 {
    font-size: 3.2vw;
    font-weight: 800;
    color: #111;
    line-height: 1;
}

.p5-card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.p5-card-bottom p {
    font-size: 0.85rem;
    color: #555;
    line-height: 1.5;
    font-weight: 600;
}

.p5-card-bottom span {
    font-size: 0.8rem;
    color: #aaa;
    font-weight: 500;
}

/* ===== PAGE 6 ===== */
#page6 {
    width: 100%;
    box-sizing: border-box;
    padding: 80px 60px;
    background-color: #0d0d0d;
}

#page6-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    border-bottom: 1px solid #2a2a2a;
    padding-bottom: 60px;
}

#page6-header h2 {
    font-size: clamp(2.5rem, 5vw, 4.5rem);
    font-weight: 800;
    color: #fff;
    max-width: 600px;
    line-height: 1.1;
    margin: 0;
}

#page6-header p {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
    max-width: 900px;
    margin: 0;
}

#page6-bottom {
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 40px;
    align-items: flex-start;
    margin-top: 60px;
}

#see-all-btn-wrap {
    position: sticky;
    top: 100px;
}

#cases-grid-2col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 60px;
    align-items: start;
}

.case-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.case-tag {
    display: inline-block;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
    background: #1e1e1e;
    border: 1px solid #333;
    border-radius: 20px;
    padding: 4px 14px;
    width: fit-content;
}

.case-card-top h3 {
    font-size: clamp(1rem, 1.5vw, 1.4rem);
    font-weight: 700;
    color: #fff;
    line-height: 1.3;
    margin: 0 0 12px 0;
}

.case-desc {
    color: #888;
    font-size: 0.88rem;
    line-height: 1.7;
    margin: 0;
}

/* Hover effect - 16:9 → 9:16 */
.case-media-wrap {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 12px;
    overflow: hidden;
    transition: aspect-ratio 0.5s ease;
    overflow: hidden;
}

.case-media-wrap:hover {
    aspect-ratio: 9/16;
    max-height: 400px;
    width: auto;
}

.case-thumb {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    transition: opacity 0.3s ease;
    opacity: 1;
}

.case-media-wrap:hover .case-thumb {
    opacity: 0;
}

.case-video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.case-media-wrap:hover .case-video {
    opacity: 1;
}

.case-col-divider {
    width: 100%;
    height: 1px;
    background: #2a2a2a;
    margin-bottom: 30px;
}

/* ===== PAGE 7 ===== */
#page7 {
    width: 100%;
    box-sizing: border-box;
    padding: 100px 60px;
    background-color: #0d0d0d;
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 60px;
    align-items: start;
}

#page7-left {
    position: sticky;
    top: 100px;
}

.green-btn {
    display: inline-flex;
    align-items: center;
    gap: 14px;
    padding: 15px 50px 15px 50px;
    background-color: #0DA34E;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    overflow: hidden;
    margin-top: 100px;
    transition: background-color 0.4s ease, transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
    ;
}

.green-btn:hover {
    transform: scale(1.06);
}

.green-btn .btn-label {
    position: relative;
    height: 1.1em;
    overflow: hidden;
}

.green-btn .btn-label span {
    display: block;
    font-size: 0.88rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #fff;
    white-space: nowrap;
    transition: transform 0.45s cubic-bezier(0.76, 0, 0.24, 1);
}

.green-btn .btn-label span:last-child {
    position: absolute;
    left: 0;
    top: 100%;
}

.green-btn .btn-icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #0DA34E;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: background-color 0.4s ease, transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.green-btn .btn-icon svg {
    width: 14px;
    height: 14px;
}


.green-btn:hover .btn-label span {
    transform: translateY(-100%);
}

.green-btn:hover .btn-icon {
    background-color: #0DA34E;
    transform: rotate(45deg);
}

#page7-right {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#page7-right h2 {
    font-size: clamp(2rem, 4vw, 3.8rem);
    font-weight: 800;
    color: #fff;
    max-width: 600px;
    line-height: 1.1;
    margin: 0;
}

#page7-right p {
    font-size: 1.5rem;
    color: #888;
    line-height: 1.4;
    font-weight: 700;
    margin: 0;
    max-width: 850px;
}

#page7-content {
    width: 100%;
    margin-top: 5vh;
    padding: 5vh 0;
    border-top: 2px solid #fff;
}

#page7-content h1 {
    font-size: 3vw;
    margin-bottom: 5vh;
}

.page7-elem {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 3vh;
    padding-bottom: 8vh;
    position: relative;
    border-top: 1px solid #888;
    overflow: hidden;
}
.page7-elem:hover {
    border-top: 2px solid #fff;
}

.page7-elem h3 {
    font-size: 1.5vw;
    font-weight: 500;
    color: #fff;
    position: relative;
    z-index: 8;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

#page7-container .page7-elem p {
    width: 70%;
    font-size: 0.8vw;
    color: #fff;
    max-width: 500px;
    position: relative;
    z-index: 8;
}

.page7-elem .over {
    height: 100%;
    width: 100%;
    background-color: #333;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    opacity: 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    /* display: none; */
}

.page7-elem:hover h3 {
    padding-left: 1vw;
    padding-right: 1vw;
}

.page7-elem:hover .over {
    transform: translateY(0);
    opacity:1;
    /* display: initial; */
}

summary::marker {
    content: "";
}

/* PAGE 8 */
#page8 {
    min-height: 100vh;
    width: 100%;
    /* background-color: #111; */
    background-color: #fff;
    padding: 10vh 10vw;
}

#page8 > h1 {
    font-size: 5.5vw;
    color: #000;
    /* background-color: red; */
    padding-left: 23vw;
    padding-right: 5vw;
    line-height: 5.8vw;
    padding-bottom: 10vh;
    border-bottom: 1px solid #dadada;
}

#page8-content {
    /* background-color: red; */
    color: #000;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8vh 0;
}

#page8-content #right-8 {
    width: 70%;
}

#page8-content #right-8 p {
    font-size: 1.5vw;
    color: #000;
    margin-bottom: 5vh;
    width: 80%;
}

#page8-bottom {
    height: 44vh;
    width: 100%;
    /* background-color: red; */
    border-top: 1px solid #dadada;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* background-color: rgb(48, 48, 48); */
    /* color: #000; */
}

#btm8-part1 {
    border-right: 1px solid #dadada;
    width: 30%;
    /* background-color: red; */
    height: 100%;
}

#btm8-part2 {
    border-right: 1px solid #dadada;
    width: 35%;
    /* background-color: red; */
    height: 100%;
}

#btm8-part3 {
    border-right: 1px solid #dadada;
    width: 25%;
    /* background-color: red; */
    height: 100%;
}

#btm8-part4 {
    border-right: 1px solid #dadada;
    width: 25%;
    /* background-color: red; */
    height: 100%;
}

#btm8-part5 {

    width: 15%;
    /* background-color: red; */
    height: 100%;
}

.btm8-parts {
    padding: 3vh 0.6vw;
}

.btm8-parts h5 {
    color: #000;
    font-weight: 500;
    font-size: 0.9vw;
    margin-bottom: 4vh;
}

.btm8-parts h4 {
    background-color: #111;
    width: 75%;
    padding: 5px 10px;
    margin-bottom: 0.3vh;
    border-radius: 50px;
    font-size: 0.85vw;
    display: flex;
    align-items: center;
    font-weight: 500;

}

.btm8-parts h4 span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5vw;
    height: 1.5vw;
    background-color: #333;
    padding: 0.5vw;
    border-radius: 50%;
    margin-right: 1vw;
}
/* #btm8-part2 h4:nth-child(2){
    transform: translateX(0);
}
#btm8-part2 h4:nth-child(3){
    transform: translateX(10%);
}
#btm8-part2 h4:nth-child(4){
    transform: translateX(20%);
}
#btm8-part2 h4:nth-child(5){
    transform: translateX(30%);
}
#btm8-part2 h4:nth-child(6){
    transform: translateX(40%);
}
#btm8-part2 h4:nth-child(7){
    transform: translateX(50%);
} */


#page9 {
    height: 100vh;
    background-color: #111;
}

